body {
  background: rgb(209, 192, 192);
  font-family: Arial, Helvetica, sans-serif;
}

.registerform {
  height: 500px;
  width: 300px;
  text-align: center;
  margin-top: 50px;
  background: rosybrown;
  /*padding: 15px;*/
  border: 2px solid rgb(240, 46, 170, 0.4);
  border-radius: 5px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  /*box-shadow: rgb(228, 219, 227) 3px 3px 6px 0px inset, rgb(207, 174, 174) -3px -3px 6px 1px inset;*/
}

.registrationLabel {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: orange;
  -webkit-text-stroke: 0.5px white; /*border for text letters*/
}

input:focus {
  background: rgb(228, 181, 216);
}
input{
  border-radius: 3px;
  border: 1px solid orange;
}

.error {
  color: orange;
}

.acceptVilkor {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: wheat;
}


/*Start of styling checkbox*/
input[type=checkbox] + label {
  display: block;
  margin: 0.1em;
  cursor: pointer;
  padding: 0.1em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid rgb(65, 63, 63);
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
  margin-right: 0.1em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
/*end of checkbox style*/

button {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 0px rgb(88, 88, 87);
  color: white;
  background-color: rgb(255, 76, 21);
}

button:hover{
  border-radius: 5px;
  box-shadow: 0px 2px 0px 0px rgb(88, 88, 87);
  color: white;
  background-color: greenyellow;
}

.error {
  display: block;
  color: red;
}
/*
/////////////////////////////////////////////////////////////////////
*/
/*
.registerform li input:not([type='checkbox']) {
  width: 100%;
}
*/





/*body {
  background: rgb(209, 192, 192);
 
}

h1 {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  color: orange;
  -webkit-text-stroke: 0.5px white; /*border for text letters*/
  /*
}
input:focus {
  background: rgb(228, 181, 216);
}
input{
  border-radius: 3px;
  border: 1px solid orange;
}

#form {
  height: 400px;
  width: 300px;
  text-align: center;
  background: rosybrown;
  /*padding: 15px;*/
  /*
  border: 2px solid rgb(240, 46, 170, 0.4);
  border-radius: 5px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  /*box-shadow: rgb(228, 219, 227) 3px 3px 6px 0px inset, rgb(207, 174, 174) -3px -3px 6px 1px inset;*//*

}

button {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 0px rgb(88, 88, 87);
  color: white;
  background-color: rgb(255, 76, 21);
}

button:hover{
  border-radius: 5px;
  box-shadow: 0px 2px 0px 0px rgb(88, 88, 87);
  color: white;
  background-color: greenyellow;
}

.errors {
  color: red;
}
*/